<header>
    <a href="https://github.com/gustavom12/PokedexSimulation"> Go To Code </a>
    <h1 routerLink=""> Pokédex </h1>
    <h2>Nombre o número</h2>
    <div class="headerSearch">
        <div class="left d-flex justify-content-center align-items-center">
            <input type="search" name="" id="search">
            <button (click)="goToSearchPage()" class="btnn fas fa-search"></button>
        </div>
        <div class="right text-center">
            <p> Busca un Pokémon por su nombre o usando <br>
            su número de la Pokédex Nacional </p>
        </div>
    </div>
    <div class="bottom1"></div>
</header>
