<div class="home text-center">
    <div class="filters">
        <button (click)="random(true)" class="btn btn-primary random">Random</button>
        <div class="dropdown">
          <button class="btn btn-secondary">Order By...</button>
          <div class="items animate__animated animate__fadeIn">
            <div class="item bg-secondary">
              <h5 (click)="order('lowest')">Lowest Number</h5>
            </div>
            <div class="item bg-secondary">
              <h5 (click)="order('highest',highestUrl)">Highest Number</h5>
            </div>
            <div class="item bg-secondary">
              <h5 (click)="order('a-z')">A-Z</h5>
            </div>
            <div class="item bg-secondary">
              <h5 (click)="order('z-a')"> Z-A</h5>
            </div>
          </div>
        </div>
    </div>
    
<div class="pokemonsContainer">
    
    <div *ngFor="let pokemon of pokemons" class="pokemon text-left"
     routerLink="/pokeid/{{pokemon.id}}">
        <div  class="imgcontainer">
            <img alt="{{pokemon.name}}"
            src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{pokemon.id|miniChangeId}}.png" alt="">
        </div>
        <div class="textContent">
            <h6 class="num">N.º{{pokemon.id|miniChangeId}}</h6>
            <h4>{{pokemon.name | titlecase}}</h4>
            <div class="types">
                <div class="span" *ngFor="let t of pokemon.types" routerLink="../../types/{{t.type.name}}" [PokemonType]>{{t.type.name | titlecase}}</div>
            </div>
        </div>
    </div>
</div>
<!-- LOADER -->
<div class="lds-roller observer"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>