<div class="pokemonsContainer">
    <div class="error text-center mt3"*ngIf="getError">
        <h2>Pokemon not found</h2>
    </div>
    <div *ngFor="let pokemon of pokemons|orderby" class="pokemon text-left mt-5"
     routerLink="/pokeid/{{pokemon.id}}">
        <div  class="imgcontainer">
            <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/{{pokemon.id|miniChangeId}}.png" alt="">
        </div>
        <div class="textContent">
            <h6 class="num">N.º{{pokemon.id|miniChangeId}}</h6>
            <h4>{{pokemon.name | titlecase}}</h4>
            <div class="types">
                <div class="span" *ngFor="let t of pokemon.types" [PokemonType]>{{t.type.name | titlecase}}</div>
            </div>
        </div>
    </div>
</div>


